@charset "UTF-8";
* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  outline: none;
}

body {
  background: #3d5745; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #224137,
    #3d5745
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #224137,
    #3d5745
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.container-main {
  display: flex;
  flex-flow: column;
  width: 500px;
  padding: 20px;
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.39);
}

.container-main h1 {
  padding: 10px;
  text-align: center;
}

.container-main h2 {
  font-size: 1.2em;
  padding: 8px 0px;
}

.container-main p {
  margin: 5px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px 0px;
  flex-grow: 1;
  font-weight: 600;
}

.form input {
  padding: 10px 5px;
  font-size: 17px;
  margin: 10px 0px;
}

#button-submit {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #224137;
  color: white;
  font-size: 1.1rem;
  padding: 10px 0px;
  border: none;
}

#button-submit:hover {
  background-color: #5db599;
  color: white;
}

#Resultado {
  font-size: 18px;
  font-weight: 600;
}
