@charset "UTF-8";
body {
  background-image: none;
  background-color: white;
}

.container-main {
  background-image: none;
  box-shadow: none;
  justify-content: flex-start;
}

.container-main h1 {
  font-size: 1.7em;
}

@media screen and (orientation: landscape) {
  .body,
  .container-main {
    height: 100%;
  }
}
